#input {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 100px;
    left: 70px;
    width: 50%;
    height: 70%;
    text-align: center;
}

body {
  background-image: url('bg.png');
	background-size: auto;
}

#song-input{
	border-radius: 25px;
	border: none;
	width: 40%;
	height: 5%;
	padding: 5px 10px;
	color: black;
}

#search{
	margin: auto;
	position: absolute;
	left: 50%;
	top: 20%;
	text-align: center;
	width: 5%;
	height: 3%;
}

#video-player {
	position: absolute;
  margin: auto;
  top: 30%;
  width: 50%;
  height: 50%;
  text-align: center;
	float: left;
}

#lyrics {
	position: absolute;
	top: 30%;
	word-wrap: break-word;
	overflow: auto;
	text-overflow: ellipsis;
  margin-left: 65%;
  text-align: center;
  height: 50%;
}

#credits {
  font-size: 11px;
  color: white;
}

#optional-videos {
  bottom: 5%;
  color: white;
}

#additional-videos {
  color: white;
}

#additional-videos a:visited {
  color: grey;
}

#additional-videos a:link {
  color: grey;
}

.footer {
  position: absolute;
  margin: 0 auto;
  bottom: 1%;
}

.footer a:link {
  color: grey;
}

.footer a:visited {
  color: grey;
}
