#input {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 100px;
    left: 70px;
    width: 50%;
    height: 70%;
    text-align: center;
}

body {
  /*background-color: #99badd;*/
  background-image: url('../images/bg.png');
	background-size: auto;
	
}

#song-input{
	border-radius: 25px;
	border: none;
	width: 40%;
	height: 5%;
	padding: 5px 10px;
	color: black;
	
	

	
}

#search{
	margin: auto;
	position: absolute;
	left: 70px;
	top: 0px;
	right: 0px;
	bottom: 450px;
	text-align: center;
	width: 65px;
	height: 10px;
}

#video-player {
	position: absolute;
    margin: auto;
    top: 70px;
    right: 700px;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 50%;
    text-align: center;
	float: left;
}

#lyrics {
	position: absolute;
	top: 30%;
	word-wrap: break-word;
	overflow: auto;
	text-overflow: ellipsis;
  margin-left: 65%;
  text-align: center;
  height: 50%;
	
	
}


#wrapper {
	margin: auto;
}
